vivado.jou
vivado.log
*.backup.jou
*.backup.log
vivado_pid*.str

vivado_hls.log
*.log
*.png

NA/
.Xil/
.vscode/

build/
CMakeLists.txt
CMakeLists.txt.cpp

SysVerilog_Model/vscratch/
SysVerilog_Model/vsim/
